
.container 
{
    margin-top: 200px;
}

.w-250 
{
    width: 250px;
}












/*

.input 
{
    margin-left: 200px;
    margin-top: -30px;
    padding-top: 10px;
    height: 30px;
    width: 300px;
}


*/